<div class="detail-info-popup" *ngIf="details">
    <div class="detail-info-container">
        <div class="detail-info-close" (click)="closePopup()">
            <img src="./assets/images/close.svg" alt="">
        </div>
        <div *ngIf="!details.photo" class="detail-info-photo detail-info-photo_undefined" style="background-image: url(/assets/images/userpic.jpg);"></div>
        <div *ngIf="details.photo" class="detail-info-photo" [ngStyle]="{ 'background-image': 'url(' + details.photo + ')' }" [ngClass]="{'detail-info-photo_large': showPhotoLarge}" (click)="showPhotoLarge = !showPhotoLarge">
            <div class="photo-resize photo-resize_enlarge">
                &#43;
            </div>
            <div class="photo-resize photo-resize_reduce">
                &#8212;
            </div>
        </div>
        <div class="detail-info-block">
            <div class="detail-info-underline">
                <p class="detail-info-name">{{details.name}}</p>
                <p class="detail-info-years">{{details.birthDate}} - {{details.deathDate}}</p>
            </div>
            <ul class="detail-info-list">
                <li class="detail-info-item">
                    <p class="detail-info-item-title">{{'POPUP.STATUS' | translate}}</p>
                    <p class="detail-info-item-text detail-info-status">
                        {{details.status}}
                        <span *ngIf="!details.status" class="clarification"></span>
                    </p>
                </li>
                <!-- <li class="detail-info-item">
                    <p class="detail-info-item-title">Підрозділ</p>
                    <p class="detail-info-item-text detail-info-part"></p>
                </li> -->
                <li class="detail-info-item">
                    <p class="detail-info-item-title">{{'POPUP.RANK' | translate}}</p>
                    <p class="detail-info-item-text detail-info-military-name">
                        {{details.rank}}
                        <span *ngIf="!details.rank" class="clarification"></span>
                    </p>
                </li>
                <li class="detail-info-item">
                    <p class="detail-info-item-title">{{'POPUP.POSITION' | translate}}</p>
                    <p class="detail-info-item-text detail-info-military-job">
                        {{details.position}}
                        <span *ngIf="!details.position" class="clarification"></span>
                    </p>
                </li>
                <li class="detail-info-item">
                    <p class="detail-info-item-title">Позивний</p>
                    <p class="detail-info-item-text">
                        Позивний
                    </p>
                </li>
                <li class="detail-info-item">
                    <p class="detail-info-item-title">{{'POPUP.BIRTH' | translate}}</p>
                    <p class="detail-info-item-text detail-info-birth-place">
                        {{details.birthCity}}
                        <span *ngIf="!details.birthCity" class="clarification"></span>
                    </p>
                </li>
                <li class="detail-info-item">
                    <p class="detail-info-item-title">{{'POPUP.DEATH' | translate}}</p>
                    <p class="detail-info-item-text detail-info-death-place">
                        {{details.deathCity}}
                        <span *ngIf="!details.deathCity" class="clarification"></span>
                    </p>
                </li>
                <li class="detail-info-item">
                    <p class="detail-info-item-title">{{'POPUP.DESCRIPTION' | translate}}</p>
                    <p class="detail-info-item-text detail-info-description">
                        {{details.description}}
                        <span *ngIf="!details.description" class="clarification"></span>
                    </p>
                </li>
            </ul>
        </div>
        <div class="detail-info-button-container">
            <div class="detail-info-button-inner-container">
                <button type="button" class="detail-info-button" (click)="openContactPopup()">{{'CONTACT.TITLE' | translate}}</button>
            </div>
        </div>
    </div>
</div>