<div class="map-died-block" *ngIf="cities">
    <div id="map-died" class="map-block">
        <agm-map [latitude]="centerLat" [longitude]="centerLng" [zoom]="zoom" [styles]="mapStyle" [streetViewControl]="false" [minZoom]="3" [maxZoom]="15">
            <agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng" (markerClick)="clickedMarker(marker, 1)" [iconUrl]="'/assets/images/dot.png'">
                <agm-snazzy-info-window [maxWidth]="300" [closeWhenOthersOpen]="true" [latitude]="centerLat" [longitude]="centerLng" (afterClose)="closeInfo()">
                    <ng-template>
                        <div class="card-loader" *ngIf="!showList && !cardInfo">
                            <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                                <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
                                    <animateTransform attributeType="xml"
                                    attributeName="transform"
                                    type="rotate"
                                    from="0 25 25"
                                    to="360 25 25"
                                    dur="0.6s"
                                    repeatCount="indefinite"/>
                                </path>
                            </svg>
                        </div>
                        <div class="one-card" *ngIf="!showList && cardInfo">
                            <div class="info-container">
                                <div class="info-image">
                                    <img *ngIf="cardInfo.photo" [src]="cardInfo.photo" alt="">
                                    <img *ngIf="!cardInfo.photo" src="/assets/images/userpic.jpg" alt="">
                                </div>
                                <div class="main-info">
                                    <p class="info-name">{{cardInfo.name}}</p>
                                    <p class="info-status">{{cardInfo.status}}</p>
                                    <p class="info-birth-place">{{cardInfo.birth}}</p>
                                </div>
                            </div>
                            <div class="info-description">{{cardInfo.description}}</div>
                            <div class="info-button-container">
                                <div class="info-button" (click)="getDetailInfo(cardInfo.id)">{{'GENERAL.DETAILS' | translate}}</div>
                            </div>
                        </div>
                        <ul class="info-list" *ngIf="showList">
                            <li class="info-list-item" *ngFor="let item of listKeys" (click)="showCard(list[item].id)">{{list[item].fullName}}</li>
                        </ul>
                    </ng-template>
                </agm-snazzy-info-window>
            </agm-marker>
        </agm-map>
    </div>
    <div class="map-overlay" *ngIf="showOverlay">
        <div class="focus">
            <img src="./assets/images/selected_dot.png" alt="">
        </div>
    </div>
</div>