<div class="filter-container dark">
    <div class="filters__header flex-container flex-justify-content-space-between">
        <p class="filters__name">Biк</p>
        <p class="filter__params"><span id="first-age"></span> &#8212; <span id="second-age"></span></p>
        <button class="reset-button reset-age">скинути</button>
    </div>
    <div class="filters__graph age-graph" #container>
        <nouislider [config]="configs" [(ngModel)]="range" [tooltips]="[true, true]" (ngModelChange)="onChange($event)"></nouislider>
        <div class="filters__values age-values">
            <span class="age-value-item"></span>
            <span class="age-value-item"></span>
            <span class="age-value-item"></span>
            <span class="age-value-item"></span>
            <span class="age-value-item"></span>
            <span class="age-value-item"></span>
        </div>
    </div>
</div>