<div class="header flex-container js-hook-header">
    <div class="logo flex-align-self-center">{{'HEADER.NAME' | translate}}</div>
    <div class="header__params flex-align-self-center">
        <div class="switch_view logo flex-align-self-center" [routerLink]="'/map'" routerLinkActive="switch_view--active">{{'HEADER.MAP' | translate}}</div>
        <div class="switch_view logo flex-align-self-center" [routerLink]="'/list/1'" routerLinkActive="switch_view--active">{{'HEADER.LIST' | translate}}</div>
        <div class="search-lang-container flex-container">
            <form class="search">
                <input type="text" placeholder="{{'HEADER.SEARCH_PLACEHOLDER' | translate}}" class="search-input" [(ngModel)]="searchQuery" (keypress)="startSearch($event)" name="search">
                <button type="button" (click)="startSearch()">
                        <img src="/assets/images/search.png">
                    </button>
                <div class="search-result none">
                    <div class="search-section search-city-section">
                        <p class="search-section-title">Miста <span>Загибель</span> <span>Походження</span></p>
                        <div class="search-cities">
                            <p class="search-city-item">
                                <span></span>
                                <span></span>
                            </p>
                        </div>
                    </div>
                    <div class="search-section search-name-section">
                        <p class="search-section-title">Імена</p>
                        <div class="search-names"></div>
                    </div>
                </div>
            </form>
            <button type="button" class="mobile__search">
                <img src="assets/images/search.png">
              </button>
        </div>
    </div>
    <div class="language">
        <div><a href="#" [routerLink]="'/about'">{{'HEADER.ABOUT' | translate}}</a></div>
        <select (change)="setLanguage($event)">
            <option value="ua">UKR</option>
            <option value="en">ENG</option>
            <option value="ru">RUS</option>
        </select>
    </div>
    <div class="burger-button" (click)="mobMenuAction()">
        <img src="./assets/images/burger.png">
    </div>

    <div class="mobile-main" *ngIf="showMobMenu">
        <div class="burger-button cross" (click)="mobMenuAction()">
            <img src="./assets/images/burger_cross.png">
        </div>
        <a href="#" [routerLink]="'/about'" class="about">{{'HEADER.ABOUT' | translate}}</a>
        <div class="mobile-main links">
            <a href="" class="active" (click)="setLanguage('ua')">UKR</a>
            <a href="" (click)="setLanguage('en')">ENG</a>
            <a href="" (click)="setLanguage('ru')">РУС</a>
        </div>
    </div>
</div>