<div class="contact-popup" *ngIf="showContact">
    <div class="contact-container">
        <div class="contact-close" (click)="closePopup()">
            <img src="/assets/images/close.svg" alt="">
        </div>
        <div class="contact-inner-container">
            <p class="contact-title">Зворотній зв'язок</p>
            <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="sendEmail($event)">
                <label class="contact-label" for="theme">Мета звернення</label>
                <select formControlName="infoSelect" class="contact-input" name="theme" id="contact-theme">
                    <option value="Нова інформація">Нова інформація</option>
                    <option value="Уточнення">Уточнення</option>
                    <option value="Скарга">Скарга</option>
                </select>
                <label class="contact-label" for="email">E-mail</label>
                <input formControlName="email" class="contact-input" type="email" name="email">
                <label class="contact-label" for="phone">Альтернативний канал зв'язку (телефон або месенджер)</label>
                <input formControlName="phone" class="contact-input" type="text" name="phone">
                <label class="contact-label" for="message">Ваше повідомлення</label>
                <textarea formControlName="message" class="contact-input contact-area" name="message"></textarea>
                <button type="submit" class="contact-button">Відправити
                    <span *ngIf="sending">
                        <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15px" height="15px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                            <path fill="#fff" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
                                <animateTransform attributeType="xml"
                                attributeName="transform"
                                type="rotate"
                                from="0 25 25"
                                to="360 25 25"
                                dur="0.6s"
                                repeatCount="indefinite"/>
                            </path>
                        </svg>
                    </span>
                </button>
                <p style="color: #fff; text-align: center;" *ngIf="sent">Ваше повідомлення віправлено</p>
            </form>
        </div>
    </div>
</div>