<div class=" page-wrapper">

    <header>
        <h1>{{'ABOUT.TITLE' | translate}}</h1>
    </header>
    <main>
        <!-- <h1>Підзаголовок</h1> -->
        <article class="flex-container">
            <p>{{'ABOUT.TEXT_1' | translate}}</p>
            <p>{{'ABOUT.TEXT_2' | translate}}</p>
            <p>{{'ABOUT.TEXT_3' | translate}}</p>
            <ul>
                <li>{{'ABOUT.LI_1' | translate}} <a href='tel:+380665220053'>066 522 0053</a></li>
                <li>{{'ABOUT.LI_2' | translate}} <a href='mailto:center.doc@helsinki.org.ua'>center.doc@helsinki.org.ua</a></li>
                <li>{{'ABOUT.LI_3' | translate}}</li>
                <li>{{'ABOUT.LI_4' | translate}}</li>
            </ul>
            <p></p>
            <p>{{'ABOUT.TEXT_4' | translate}}</p>
        </article>
        <!-- <article class="full-s">
            <h1>
                Деякий текст лютий мудизм українських чиновніків та їх паталогічну схильність до хабарництва.
            </h1>
        </article> -->
        <article class="italic">
            <p>{{'ABOUT.TEXT_5' | translate}}</p>
            <p>{{'ABOUT.TEXT_6' | translate}}</p>
        </article>
        <!-- <article class="quote">
            <div>
                <img src="/assets/images/comas.png" alt="">
            </div>
            <div>
                <p class="mention"></p>
            </div>
            <p>Руслан Нос, дизайнер</p>
        </article> -->
    </main>
</div>
<app-footer></app-footer>