<div class="content-container flex-container flex-direction-column">
    <div class="maps-container flex-container">
        <app-birth-map [cities]="cities" (detailInfo)="getDetailInfo($event)"></app-birth-map>
        <app-death-map [cities]="cities" (detailInfo)="getDetailInfo($event)"></app-death-map>
    </div>
    <div class="filters flex-container" *ngIf="filters">
        <app-date [filter]="filters.years"></app-date>
        <app-age [filter]="filters.age"></app-age>
        <app-country [filter]="filters.countries"></app-country>
        <app-sex [filter]="filters.gender"></app-sex>
        <app-status [filter]="filters.status"></app-status>
    </div>
</div>
<app-popup *ngIf="showPopup" [details]="personDetails" (close)="closePopup($event)" (showContact)="openContactPopup($event)"></app-popup>
<app-contact [showContact]="openContact" (closeContact)="openContactPopup($event)"></app-contact>
<app-loading-popup *ngIf="!loaders.map || !loaders.filters"></app-loading-popup>