<div class="filter-container simple dark">
    <div class="filters__header flex-container flex-justify-content-space-between">
        <p class="filters__name">Стать</p>
        <button class="reset-button reset-gender" (click)="resetFilter()">скинути</button>
    </div>
    <div class="simple-filters__graph">
        <div class="graph-field gender-field" [ngClass]="{'active': activeItem === 'male'}" (click)="changeFilter(0)">Чоловіки - {{filter.male}}</div>
        <div class="graph-field gender-field" [ngClass]="{'active': activeItem === 'female'}" (click)="changeFilter(1)">Жінки - {{filter.female}}</div>
    </div>
</div>