<div class="filter-container simple dark">
    <div class="filters__header flex-container flex-justify-content-space-between">
        <p class="filters__name">Стать</p>
        <button class="reset-button reset-gender">скинути</button>
    </div>
    <div class="simple-filters__graph">
        <div class="graph-field gender-field" data-gender="male">Чоловіки - {{filter.male}}</div>
        <div class="graph-field gender-field" data-gender="female">Жінки - {{filter.female}}</div>
    </div>
</div>