<div class="filter-container simple dark">
    <div class="filters__header flex-container flex-justify-content-space-between">
        <p class="filters__name">{{'FILTERS.GENDER.NAME' | translate}}</p>
        <button class="reset-button reset-gender" (click)="resetFilter()">{{'GENERAL.RESET' | translate}}</button>
    </div>
    <div class="simple-filters__graph">
        <div class="graph-field gender-field" [ngClass]="{'active': activeItem === 'male'}" (click)="changeFilter(0)">{{'FILTERS.GENDER.MALE' | translate}} - {{filter.male}}</div>
        <div class="graph-field gender-field" [ngClass]="{'active': activeItem === 'female'}" (click)="changeFilter(1)">{{'FILTERS.GENDER.FEMALE' | translate}} - {{filter.female}}</div>
    </div>
</div>