<div class="filter-container simple">
    <div class="filters__header flex-container flex-justify-content-space-between flex-wrap-wrap">
        <p class="filters__name">{{'FILTERS.STATUS.NAME' | translate}}</p>
        <button class="reset-button reset-status" (click)="resetFilter()">{{'GENERAL.RESET' | translate}}</button>
    </div>
    <div class="simple-filters__graph status__graph">
        <div class="graph-field status-field" [ngClass]="{'active': activeItem === 'military'}" (click)="changeFilter(0)">{{'FILTERS.STATUS.MILITARY' | translate}} - {{filter.military}}</div>
        <div class="graph-field status-field" [ngClass]="{'active': activeItem === 'civil'}" (click)="changeFilter(1)">{{'FILTERS.STATUS.CIVIL' | translate}} - {{filter.civil}}</div>
    </div>
</div>