<div class="content-container flex-container flex-direction-column">
    <div class="list-view">
        <div class="list-filters">
            <div class="filters-container">
                <div class="top-filters" style="height: 75px;">
                    <!-- <p class="filters__name">{{'FILTERS.TITLE' | translate}}</p>
                    <select class="filter__params" id="letter__filter">
                        <option value="">A</option>
                        <option value="">Б</option>
                        <option value="">В</option>
                    </select>
                    <select class="filter__params" id="year__filter">
                        <option value="">2014</option>
                        <option value="">2015</option>
                    </select> -->
                    <button class="grey-button filter__params graph-field js-hook-filter-params-open filter-button filter-button_close">
                        Усі фільтри
                        <span></span>
                    </button>

                </div>
                <div class="filters__all">
                    <div class="filter-container simple light-dark">
                        <div class="filters__graph">
                            <p class="filters__name">{{'FILTERS.DATE' | translate}}</p>
                            <material-datepicker class="filter__params_date list-select-age" [rangeStart]="firstDate" (onSelect)="onSelectDate($event, 'start')"></material-datepicker>
                            <span class="filter__line">—</span>
                            <material-datepicker class="filter__params_date list-select-age" [rangeStart]="firstDate" (onSelect)="onSelectDate($event, 'end')"></material-datepicker>
                        </div>
                    </div>
                    <div class="filter-container simple light-dark">
                        <div class="filters__graph">
                            <p class="filters__name">{{'FILTERS.AGE' | translate}}</p>
                            <select class="filter__params filter__params_age list-select-age" (change)="selectAge($event.target.value, 'start')">
                                <option value="{{item}}" *ngFor="let item of ageKeys">{{item}}</option>
                            </select>
                            <span class="filter__line">—</span>
                            <select class="filter__params filter__params_age list-select-age" (change)="selectAge($event.target.value, 'end')">
                                <option value="{{item}}" *ngFor="let item of ageKeys">{{item}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="filter-container simple light-dark">
                        <div class="filters__graph">
                            <p class="filters__name country">{{'FILTERS.COUNTRY' | translate}}</p>
                            <select class="filter__params filter__params_country list-select-age" id="filter-country-list" (change)="chooseCountry($event.target.value)">
                                <option value="{{item}}" *ngFor="let item of countriesKeys">{{filtersData.countries[item].countryName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="filter-container simple light-dark">
                        <div class="filters__graph">
                            <p class="filters__name">{{'FILTERS.GENDER.NAME' | translate}}</p>
                            <div class="graph-field gender-field" [ngClass]="{'graph-field--active': activeSex === 'male'}" (click)="chooseFilter('sex', 0)">{{'FILTERS.GENDER.MALE' | translate}}</div>
                            <div class="graph-field gender-field" [ngClass]="{'graph-field--active': activeSex === 'female'}" (click)="chooseFilter('sex', 1)">{{'FILTERS.GENDER.FEMALE' | translate}}</div>
                        </div>
                    </div>
                    <div class="filter-container simple light-dark">
                        <div class="filters__graph status__graph">
                            <p class="filters__name">{{'FILTERS.STATUS.NAME' | translate}}</p>
                            <div class="graph-field status-field" [ngClass]="{'graph-field--active': activeStatus === 'military'}" (click)="chooseFilter('status', 0)">{{'FILTERS.STATUS.MILITARY' | translate}}</div>
                            <div class="graph-field status-field" [ngClass]="{'graph-field--active': activeStatus === 'civil'}" (click)="chooseFilter('status', 1)">{{'FILTERS.STATUS.CIVIL' | translate}}</div>
                        </div>
                    </div>
                    <button class="reset-button reset-status list-button list-button_done" (click)="setFilters()">{{'FILTERS.BUTTONS.DONE' | translate}}</button>
                    <button class="reset-button reset-status list-button list-button_reset" (click)="resetFilters()">{{'FILTERS.BUTTONS.RESET' | translate}}</button>
                </div>
                <div class="space"></div>
                <div class="list">
                    <div class="list__row">
                        <p>{{'DATA.NAME' | translate}}</p>
                        <p>{{'DATA.BIRTH' | translate}}</p>
                        <p>{{'DATA.DEATH' | translate}}</p>
                        <p>{{'DATA.STATUS' | translate}}</p>
                    </div>
                    <div class="list-loader" *ngIf="!list">
                        <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                            <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
                                <animateTransform attributeType="xml"
                                attributeName="transform"
                                type="rotate"
                                from="0 25 25"
                                to="360 25 25"
                                dur="0.6s"
                                repeatCount="indefinite"/>
                            </path>
                        </svg>
                        <p>{{'GENERAL.LOADING' | translate}}...</p>
                    </div>
                    <div *ngIf="list">
                        <div class="list__row listing" *ngFor="let item of listKeys" (click)="getDetailInfo(list[item].id)">
                            <div>
                                <div class="round__img"><img src="/assets/images/img_cropped.png" alt="" class="rounded"></div>
                                <h3>{{list[item].fullName}}</h3>
                            </div>
                            <p>{{list[item].birthCityName}}</p>
                            <p>{{list[item].deathCityName}}</p>
                            <p>{{list[item].status}}</p>
                        </div>
                    </div>
                </div>
                <div class="pagination__block">
                    <!--<div class="prev__button">Попередня</div>-->
                    <div class="prev__button active" (click)="goToPage(currentPage - 1)" [ngClass]="{'disabled': currentPage === 1}"><span><img src="./assets/images/arrow.png"></span>{{'GENERAL.PREV' | translate}}</div>
                    <div class="prev__button active mobile__arrow" (click)="goToPage(currentPage - 1)" [ngClass]="{'disabled': currentPage === 1}"><span><img src="./assets/images/arrow.png"></span></div>

                    <!-- TODO: no need to use this code! -->
                    <!-- <div class="pages">
                        <a href="" [routerLink]="'/list/1'" routerLinkActive="active">1</a>
                        <a href="" [routerLink]="'/list/2'" routerLinkActive="active">2</a>
                        <a href="" [routerLink]="'/list/3'" routerLinkActive="active">3</a>
                        <a href="" [routerLink]="'/list/4'" routerLinkActive="active">4</a>
                        <a href="" [routerLink]="'/list/5'" routerLinkActive="active">5</a>
                    </div> -->
                    <!--<div class="next__button">Наступна</div>-->
                    <div class="next__button" (click)="goToPage(currentPage + 1)">{{'GENERAL.NEXT' | translate}}<span><img src="./assets/images/arrow.png"></span></div>
                    <div class="next__button active mobile__arrow" (click)="goToPage(currentPage + 1)"><span><img src="./assets/images/arrow.png"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-popup *ngIf="showPopup" [details]="personDetails" (close)="closePopup($event)" (showContact)="openContactPopup($event)"></app-popup>
<app-contact [showContact]="openContact" (closeContact)="openContactPopup($event)"></app-contact>
<app-loading-popup *ngIf="!loaders.list"></app-loading-popup>